.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcshareddata/xcschemes/
.netrc
Sources/__generated/Client.swift
Sources/__generated/Server.swift
Sources/__generated/Types.swift
Sources/**/openapi.json